<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>openAI</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <title>测试OpenAi接口</title>
  <main>
    <div id="answer"></div>
  </main>
  <footer>
    <input type="text" id="textInput">
    <button id="submitMsg">提交</button>
    <button id="imgSubmit">生成图片</button>
  </footer>
  <script src="https://cdn.bootcdn.net/ajax/libs/marked/2.0.3/marked.js"></script>
<script src="/javascripts/jquery-1.10.2.min.js"></script>
<script src="/javascripts/bundle.js"></script>
</body>
</html>

